<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>Portfolio</title>
</head>
<body>
  <header>
    <img src="static\img\logo.svg" alt="logo">
  </header>
  <main>
    <article>
      <div>
        <h2>Работа №1</h2>
        <p>Описание</p>
      </div>
      <img src="https://img.freepik.com/premium-photo/digital-art-wolf-with-red-face-red-face_396607-845.jpg" alt="Фото">
    </article>
    <article>
      <div>
        <h2>Работа №1</h2>
        <p>Описание</p>
      </div>
      <img src="https://img.freepik.com/premium-photo/digital-art-wolf-with-red-face-red-face_396607-845.jpg" alt="Фото">
    </article>
    <article>
      <div>
        <h2>Работа №1</h2>
        <p>Описание</p>
      </div>
      <img src="https://img.freepik.com/premium-photo/digital-art-wolf-with-red-face-red-face_396607-845.jpg" alt="Фото">
    </article>
    <article>
      <div>
        <h2>Работа №1</h2>
        <p>Описание</p>
      </div>
      <img src="https://img.freepik.com/premium-photo/digital-art-wolf-with-red-face-red-face_396607-845.jpg" alt="Фото">
    </article>
  </main>
</body>
</html>
